src/test/java/com/qea/aws/objectmap/MentionFlow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="class">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Test" maxOccurs="unbounded">
				<xs:complexType>
				<xs:sequence>
					<xs:element type="xs:string" name="DataRef" maxOccurs="unbounded"/>
					<xs:element type="xs:string" name="Flow" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute type="xs:string" name="id" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>